@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  background: white;
  --spacing: 350px;
  font-family: monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

  main{
  width: 100vw;
  color: rgb(22, 22, 22);
  z-index: 99;
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(640px, 960px));
  margin-bottom: var(--spacing);
  }

  ul.topnav {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: -10px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgba(53,53,53,0.8);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  ul.topnav li {
    float: left;
    border-right: 2px solid rgba(53,53,53,0.25);
  }
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: rgba(42,42,42,0.25);}
  
  ul.topnav li a.active {background-color: #04AA6D;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 768px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    ul.topnav li {
      border-right: none;
      border-top: 2px solid rgba(53,53,53,0.25)}
    ul.topnav {
      left: 90%;
      background-color: rgba(53,53,53,0.8);
    }
    }
  

  h1, h2, h3, h4, h5, blockquote {
    font-family: monospace;
    font-weight: 700;
    font-style: normal;
  }

  header{
    grid-column: 1 / span 2;
    font-size: 4em;
    padding: 2rem;
  }


  section {
    grid-column: 1;
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  blockquote{
    font-size: 4rem;
  }

  .offset{
    grid-column: 2;
    grid-row: 2;
    
  }

  @media screen and (max-width: 1270px) {
    .offset{
      grid-column: 1;
    }
    
    
    }


  .switch {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  

  .switch input {
    display: none;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;

    font: var(--fa-font-solid);
    content: "\f185";
    color: rgb(131, 131, 131);
    text-align: center;
    line-height: 1.7;

    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  
    color: rgb(131, 131, 131);
    font: var(--fa-font-solid);
    content: "\f186";
    text-align: center;
    line-height: 1.7;
    
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .open-button {
    z-index: 98;
    position: fixed;
    transition: 0.4s;
    bottom: 0;
    left: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 20px;
    background-color: #04AA6D; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .open-button:active {
    transition: 0.1s;
    transform: translateY(4px);

  }

  .form-popup {
    border-radius: 20px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -150px;
    z-index: 9;
  }
  
  .form {
    border-radius: 20px;
    max-width: 100%;
    width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  .form input[type=text], .form-container input[type=password], .form input[type=email] {
    border-radius: 15px;
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form input[type=text]:focus, .form-container input[type=password]:focus, .form input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form .btn {
    border-radius: 15px;
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:5px;
    margin-top:5px;
    opacity: 0.8;
  }
  
  .form .cancel {
    background-color: red;
  }

  .form .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
  }

  .form-control.success input{
    border-color: #2ecc71;
  }

  .form-control.error input{
    border-color: #e74c3c;
  }

  .form-control i {
    position: absolute;
    top: 35px;
    right: 20px;
    visibility: hidden;
  }

  .form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
  }

  .form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
  }

  .form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .form-control.error small {
    visibility: visible;
  }










