@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --spacing: 350px;
  font-family: monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 150%;
}


main {
  width: 100vw;
  color: rgb(22, 22, 22);
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 0px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, h4, h5, blockquote {
  font-family: monospace;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 9;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    font-size: 4rem;
    display: inline;
    line-height: 1;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  .left {
    grid-column: 6 / 12;
  }
  .content {
    max-width: 500px;
    margin: auto;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #450a9c;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: fixed;
    border-radius: 8px;
    right: 5px;
    bottom: 5px;
  }
  .fa-linkedin {
  color:black;
  position: fixed;
  right: 55px;
  bottom: 20px;
  }
  .fa-envelope {
  color:black;
  position: fixed;
  right: 10px;
  bottom: 20px;
  }