@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  background: white;
  --spacing: 350px;
  font-family: monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

  main{
  width: 100vw;
  color: rgb(22, 22, 22);
  z-index: 99;
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1000px));
  margin-bottom: var(--spacing);
  }

  ul.topnav {
    grid-column: 1 / span 3;
    margin: -10px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgba(53,53,53,0.8);
  }
  
  ul.topnav li {
    float: left;
    border-right: 2px solid rgba(53,53,53,0.25);
  }
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: rgba(42,42,42,0.25);}
  
  ul.topnav li a.active {background-color: #04AA6D;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 768px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    ul.topnav li {
      border-right: none;
      border-top: 2px solid rgba(53,53,53,0.25)}
    ul.topnav {
      background-color: rgba(53,53,53,0.8);
    }
    }
  

  h1, h2, h3, h4, h5, blockquote {
    font-family: monospace;
    font-weight: 700;
    font-style: normal;
  }

  header{
    grid-column: 1;
    font-size: 4em;
    padding: 2rem;
  }

  @media screen and (max-width: 768px) {
    header{
      margin-top: 5rem;
    }
  }

  section {
    grid-column: 1;
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  blockquote{
    font-size: 4rem;
  }

  .offset{
    grid-column: 2;
    
  }

  @media screen and (max-width: 1270px) {
    .offset{
      grid-column: 1;
    }
    
    
    }


  .switch {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  

  .switch input {
    display: none;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;

    font: var(--fa-font-solid);
    content: "\f185";
    color: rgb(131, 131, 131);
    text-align: center;
    line-height: 1.7;

    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc
    ;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  
    color: rgb(131, 131, 131);
    font: var(--fa-font-solid);
    content: "\f186";
    text-align: center;
    line-height: 1.7;
    
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


