@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  transition: all 0.1s ease;
  background: white;
  --spacing: 350px;
  font-family: monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

  main{
  width: 100vw;
  color: rgb(22, 22, 22);
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 0px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  }

  h1, h2, h3, h4, h5, blockquote {
    font-family: monospace;
    font-weight: 700;
    font-style: normal;
  }

  header{
    grid-column: 2 / span 6;
    font-size: 4em;
    padding: 2rem;
  }

  section {
    grid-column: 2 / span 4;
    padding: 2rem;
    background: var(--dark-bg);
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .offset{
    grid-column: 7 / 12;
  }


  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  

  .switch input {
    display: none;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;

    font: var(--fa-font-solid);
    content: "\f185";
    color: rgb(131, 131, 131);
    text-align: center;
    line-height: 1.7;

    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6acf88;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  
    color: rgb(131, 131, 131);
    font: var(--fa-font-solid);
    content: "\f186";
    text-align: center;
    line-height: 1.7;
    
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .fa-linkedin {
  color: rgb(22, 22, 22);
  position: fixed;
  right: 55px;
  bottom: 20px;
  }
  .fa-envelope {
  color:rgb(22, 22, 22);
  position: fixed;
  right: 10px;
  bottom: 20px;
  }

  .fa-envelope:hover{
    color:#6acf88 !important;
    -webkit-animation: bounce 1s infinite;
 }
 .fa-linkedin:hover{
    color:#6acf88 !important;
    -webkit-animation: bounce 1s infinite;
 }

 @-webkit-keyframes bounce {
  0%,  
  100% {
     -webkit-transform: translateY(0);
  } 
  50% {
      -webkit-transform: translateY(-10px);
  }
}
@-moz-keyframes bounce {
  0%, 
  100% {
     -moz-transform: translateY(0);
  }
  50% {
     -moz-transform: translateY(-10px);
  }
}
@-o-keyframes bounce {
  0%,
  100% {
     -o-transform: translateY(0);
  }
  50% {
     -o-transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%,  
  100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}